# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
bower_components
node_modules
jspm_packages

# Optional npm cache directory
.npm

# .env variables
.env


