html, body {
height : 100%;
font-family : 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
color : #ffffff;
background-image : url(../images/syf128.jpg);
}
body {
	color: darkblue;
	background-color: white;

}
h1 {
	align-text: center;
	background-color: white;
	color: darkblue;
		font-size: 32px;
	font-weight: bolder;
}
button {
	color: yellow;
	background-color: red;
	font-weight: bolder;
}
nav {
	text-align: center;
	background-color: red;
}
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
span.glyphicon.red {
color: red;
}
span.glyphicon.blue {
color: blue;
}
.puzzleItem {
    list-style: none;
}
.sidebar {
	background-color: white;
	color: darkblue;
	font-size: 32px;
	font-weight: bolder;	
}