body {
	color: white;
	background-color: darkblue;

}
h1 {
	align-text: center;
	color: red;
		font-size: 32px;
	font-weight: bolder;
}
button {
	color:red;
}
nav {
	text-align: center;
}
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
.puzzleItem {
    list-style: none;
}